// List stylings
$flexlist-margin: 20px;

.flex-list {
  &.flex-column > *:not(:last-child),
  &.flex-column-reverse > *:not(:first-child), 
  &.flex-smart > *:not(:last-child),
  &.flex-smart-reverse > *:not(:first-child) {
    margin-bottom: $flexlist-margin;
  }

  &.flex-row > *:not(:last-child),
  &.flex-row-reverse > *:not(:first-child) {
    margin-right: $flexlist-margin;
  }

  @media (min-width: 768px) {
    &.flex-smart > *:not(:last-child),
    &.flex-smart-reverse > *:not(:first-child) {
      margin-right: $flexlist-margin;
      margin-bottom: 0;
    }
  }

  &.flex-wrap > * {
    margin-right: $flexlist-margin;
    margin-bottom: $flexlist-margin;
  }
}