html {
  font-family: nunito, sans-serif;
}

.text-danger {
  color: #c20;
}

a {
  color: #0af;
}

.nav {
  margin-top: 30px;
}

.nav-brand {
  color: #000;
  font-size: 24px;
  text-decoration: none;
}

.content-header {
  height: 350px;
  margin-bottom: 50px;
  text-align: center;
}

.content-header h1 {
  font-size: 64px;
  margin: 0;
}

.content-header h2 {
  margin-top: 0;
  margin-bottom: 35px;
}

.card {
  width: 230px;
  line-height: 24px;
}

.card h2 {
  margin-top: 5px;
}

.outline {
  height: 100%;
  width: 200px;
  margin-right: 50px;
}

@media (min-width: 768px) {
  .outline {
    position: sticky;
    top: 60px;
  }
}

.outline a {
  margin-bottom: 10px;
  font-size: 18px;
}

.docs {
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 200px;
}

.builder h2 {
  margin-bottom: 0;
}

/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 2px;
  transition-duration: 0.2s;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #0af;
}

.checkbox input:disabled ~ .checkmark {
  background-color: #aaa;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}