// Navigation helpers

.nav-left {
  margin-right: auto !important;
}

.nav-right {
  margin-left: auto !important;
}

.nav-link {
  text-align: center;
  padding: 10px;
  transition-duration: 0.2s;
}