// Navigation helpers
$flex-breakpoint: 768px;

.flex-row {
  .nav-left {
    margin-right: auto !important;
  }

  .nav-right {
    margin-left: auto !important;
  }
}

@media (min-width: $flex-breakpoint) {
  .nav-left {
    margin-right: auto !important;
  }
  
  .nav-right {
    margin-left: auto !important;
  }
}

.nav-link {
  text-align: center;
  padding: 10px;
  transition-duration: 0.2s;
}